package pages

import (
	"github.com/atos-digital/DHCW-clinic-outcomes/ui/tables"
	"github.com/atos-digital/DHCW-clinic-outcomes/internal/store/db"
)

templ Home(subs []db.Submission) {
	<div>
		<h1 class="font-semibold text-sky-900 text-2xl py-2">Saved Forms</h1>
		@tables.SavedFormsTable()
		<h1 class="font-semibold text-sky-900 text-2xl py-2">Submitted Forms</h1>
		@tables.SubmittedFormsTable(subs)
	</div>
}
