package pages

import "github.com/atos-digital/DHCW-clinic-outcomes/ui"

var DefaultHome = ui.Index(Home())

templ Home() {
	<div>
		<h1>Home</h1>
		<p>Home page</p>
		<p>Patients Table</p>
	</div>
}
