package components

import "strings"

templ DateInput(label string) {
	<div class="flex flex-col">
		if label != "" && !strings.HasSuffix(label, "followup") {
			<label>
				{ label }
			</label>
		}
		<input type="date" name={ label } class="border-gray-300 border rounded w-fit"/>
	</div>
}
