package components

import "strings"

templ TextArea(label, placeholder string) {
	<div class="flex flex-col">
		if label != "" && !strings.HasSuffix(label, "followup") {
			<label class="text-black mr-1">
				{ label }
			</label>
		}
		<textarea name={ label } class="border-gray-300 border rounded shadow-inner px-2 py-0.5" placeholder={ placeholder }></textarea>
	</div>
}
