package outcomes

import (
	. "github.com/atos-digital/DHCW-clinic-outcomes/ui/components"
	"github.com/atos-digital/DHCW-clinic-outcomes/ui/forms/outcomes/options"
	"github.com/atos-digital/DHCW-clinic-outcomes/internal/server/models"
)

templ Options(data models.OutcomesState) {
	<div class="flex flex-col gap-3">
		@SectionTitle("Outcomes")
		@options.Cacner(data.CancerPathway)
		<hr/>
		@options.Patient(data)
	</div>
}
